<div class="page-header">
  <h3>Saved Contact #<%= @saved_contact.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Student</dt>
      <dd>
        <% if @saved_contact.student.present? %>
          <a href="/students/<%= @saved_contact.student_id %>">
            <%= @saved_contact.student.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @saved_contact.user.present? %>
          <a href="/users/<%= @saved_contact.user_id %>">
            <%= @saved_contact.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/saved_contacts" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @saved_contact.user %>
        <a href="/saved_contacts/<%= @saved_contact.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_saved_contact/<%= @saved_contact.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
