<div class="page-header">
  <h3>Job #<%= @job.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Company</dt>
      <dd><%= @job.company %></dd>

      <dt>Position</dt>
      <dd><%= @job.position %></dd>

      <dt>Location</dt>
      <dd><%= @job.location %></dd>

      <dt>Job description</dt>
      <dd><%= @job.job_description %></dd>

      <dt>Job requirements</dt>
      <dd><%= @job.job_requirements %></dd>

      <dt>Job link</dt>
      <dd><%= @job.job_link %></dd>

      <dt>Contact name</dt>
      <dd><%= @job.contact_name %></dd>

      <dt>Contact email</dt>
      <dd><%= @job.contact_email %></dd>

      <dt>Contact phone</dt>
      <dd><%= @job.contact_phone %></dd>

      <dt>Deadline</dt>
      <dd><%= @job.deadline %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/jobs" class="btn btn-primary">
        Back
      </a>
      <a href="/jobs/<%= @job.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_job/<%= @job.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
