<div class="page-header">
  <h3>Job #<%= @job.id %>
    <% like = SavedJob.where(:user_id=> current_user.id, :job_id=> @job.id).first %>
            <% if like.present?%>

            <!-- if yes, display a closed heart and allow user to delete like -->

            <a href= "/delete_saved_job/<%= like.id %>" class="btn btn-link">
              <i class="fa fa-heart"></i></a>

              <!-- if not, display open heart and allow user to add like -->

              <%else%>
              <form action="/create_saved_job" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- Label and input for user_id -->
                <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

                <!-- Label and input for job_id -->
                <input type="hidden" id="job_id" name="job_id" value="<%= @job.id %>">


                <button class="btn btn-link">
                  <i class="fa fa-heart-o"></i>
                </button>
              </form>

              <%end%>
  </h3>

</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Company</dt>
      <dd><%= @job.company %></dd>

      <dt>Position</dt>
      <dd><%= @job.position %></dd>

      <dt>Location</dt>
      <dd><%= @job.location %></dd>

      <dt>Job description</dt>
      <dd><%= @job.job_description %></dd>

      <dt>Job requirements</dt>
      <dd><%= @job.job_requirements %></dd>

      <dt>Job link</dt>
      <dd><%= @job.job_link %></dd>

      <dt>Contact name</dt>
      <dd><%= @job.contact_name %></dd>

      <dt>Contact email</dt>
      <dd><%= @job.contact_email %></dd>

      <dt>Contact phone</dt>
      <dd><%= @job.contact_phone %></dd>

      <dt>Deadline</dt>
      <dd><%= @job.deadline %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/jobs" class="btn btn-primary">
        Back
      </a>
      <% if @job.user_id == current_user.id %>
      <a href="/jobs/<%= @job.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_job/<%= @job.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <%else%>
      <%end%>
    </div>
  </div>
</div>

<!-- A Job has many bookmark_jobs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Who is interested in this job?
      </li>

      <% @job.bookmark_jobs.each do |saved_job| %>
        <li class="list-group-item">
          <a href="/saved_jobs/<%= saved_job.id %>">
            <%= saved_job.user.first_name %> <%=saved_job.user.last_name%>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/saved_jobs/<%= saved_job.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/saved_jobs/<%= saved_job.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_saved_job/<%= saved_job.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_saved_job" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for job_id -->
      <input type="hidden" name="job_id" value="<%= @job.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Saved Job
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
