<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Grad year</dt>
      <dd><%= @user.grad_year %></dd>

      <dt>Industry focus</dt>
      <dd><%= @user.industry_focus %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many bookmark_jobs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmark Jobs
      </li>

      <% @user.bookmark_jobs.each do |saved_job| %>
        <li class="list-group-item">
          <a href="/saved_jobs/<%= saved_job.id %>">
            <%= saved_job.job_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/saved_jobs/<%= saved_job.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == saved_job.user %>
              <a href="/saved_jobs/<%= saved_job.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_saved_job/<%= saved_job.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many saved_events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Saved Events
      </li>

      <% @user.saved_events.each do |saved_event| %>
        <li class="list-group-item">
          <a href="/saved_events/<%= saved_event.id %>">
            <%= saved_event.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/saved_events/<%= saved_event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == saved_event.user %>
              <a href="/saved_events/<%= saved_event.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_saved_event/<%= saved_event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many saved_contacts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Saved Contacts
      </li>

      <% @user.saved_contacts.each do |saved_contact| %>
        <li class="list-group-item">
          <a href="/saved_contacts/<%= saved_contact.id %>">
            <%= saved_contact.student_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/saved_contacts/<%= saved_contact.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == saved_contact.user %>
              <a href="/saved_contacts/<%= saved_contact.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_saved_contact/<%= saved_contact.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
