<div class="page-header">
  <h1>
    Events
    <a href="/events/new" class="btn btn-lg btn-success">New Event</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "events_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

<div class="form-group">
    <%= f.label :audience_cont, "Audience contains" %>
    <%= f.text_field :audience_cont, :class => "form-control", :placeholder => "Audience contains" %>
  </div>

<div class="form-group">
    <%= f.label :location_cont, "Location contains" %>
    <%= f.text_field :location_cont, :class => "form-control", :placeholder => "Location contains" %>
  </div>

<div class="form-group">
          <%= f.label :date_time, "Date time" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='date_timegteqPicker'>
                  <%= f.text_field :date_time_gteq, :class => "form-control", :placeholder => "Date time greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='date_timelteqPicker'>
                  <%= f.text_field :date_time_lteq, :class => "form-control", :placeholder => "Date time less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#date_timegteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#date_timelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#date_timegteqPicker').on("dp.change", function (e) {
                  $('#date_timelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#date_timelteqPicker').on("dp.change", function (e) {
                  $('#date_timegteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>



      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/events" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#events_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Title</th>
        <th>Description</th>
        <th>Date time</th>
        <th>Location</th>
        <th>Audience</th>
        <th>Save Event</th>
        <th>Actions</th>
      </tr>

      <% @events.each do |event| %>
      <tr>

        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date_time %></td>
        <td><%= event.location %></td>
        <td><%= event.audience %></td>
        <td>
          <% like = SavedEvent.where(:user_id=> current_user.id, :event_id=> event.id).first %>
                  <% if like.present?%>

                  <!-- if yes, display a closed heart and allow user to delete like -->

                  <a href= "/delete_saved_event/<%= like.id %>" class="btn btn-link">
                    <i class="fa fa-heart"></i></a>

                    <!-- if not, display open heart and allow user to add like -->

                    <%else%>
                    <form action="/create_saved_event" method="post">
                      <!-- Hidden input for authenticity token to protect from forgery -->
                      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                      <!-- Label and input for user_id -->
                      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

                      <!-- Label and input for job_id -->
                      <input type="hidden" id="event_id" name="event_id" value="<%= event.id %>">


                      <button class="btn btn-link">
                        <i class="fa fa-heart-o"></i>
                      </button>
                    </form>

                    <%end%>
         </td>

         <td>
           <a href="/events/<%= event.id %>" class="btn btn-primary">
             <i class="fa fa-search-plus"></i></a>

           <% if event.user_id == current_user.id %>
           <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
             <i class="fa fa-edit"></i></a>
           <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
             <i class="fa fa-trash-o"></i></a>
           <%else%>
           <%end%>
         </td>


      </tr>
      <% end %>
    </table>
    <%= paginate @events, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
