<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @event.title %></dd>

      <dt>Description</dt>
      <dd><%= @event.description %></dd>

      <dt>Date time</dt>
      <dd><%= @event.date_time %></dd>

      <dt>Location</dt>
      <dd><%= @event.location %></dd>

      <dt>Audience</dt>
      <dd><%= @event.audience %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Event has many saved_events -->
<!--Who has saved this event -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        People who Saved this Event
      </li>

      <% @event.saved_events.each do |saved_event| %>
        <li class="list-group-item">
          <a href="/saved_events/<%= saved_event.user.id %>">
            <%= saved_event.user.first_name %> <%= saved_event.user.last_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/saved_events/<%= saved_event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user.id==saved_event.user_id %>
            <a href="/saved_events/<%= saved_event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_saved_event/<%= saved_event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
            <%else%>
            <%end%>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_saved_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Saved Event
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
