<!--code for filters-->
<div class="page-header">
  <h1>
    Offers
    <a href="/offers/new" class="btn btn-lg btn-success">New Offer</a>
  </h1>
</div>
<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "offer_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :company_cont, "Company contains" %>
    <%= f.text_field :company_cont, :class => "form-control", :placeholder => "Company contains" %>
  </div>


  <div class="form-group">
    <%= f.label :location_cont, "Location contains" %>
    <%= f.text_field :location_cont, :class => "form-control", :placeholder => "Location contains" %>
  </div>

  <div class="form-group">
    <%= f.label :position_cont, "Position contains" %>
    <%= f.text_field :position_cont, :class => "form-control", :placeholder => "Position contains" %>
  </div>

  <div class="form-group">
    <%= f.label :user_grad_year_gteq, "Grad Year is after" %>
    <%= f.text_field :user_grad_year_gteq, :class => "form-control", :placeholder => "Grad Year is after" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/offers" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#offer_filters">
      Show Filters
    </a>
  </div>
  </div>

<!-- code for the view on the page -->
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Grad Year</th>
        <th>Company</th>
        <th>Position</th>
        <th>Internship or Fulltime?</th>
        <th>Location</th>
        <th>Status</th>
        <th>Save Contact</th>
        <th>Actions</th>
      </tr>

      <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.user.first_name%> <%= offer.user.last_name %></td>
        <td><%= offer.user.grad_year%></td>
        <td><%= offer.company %></td>
        <td><%= offer.position %></td>

        <% if offer.intern_fulltime == true %>
        <td>Internship</td>
        <% else %>
        <td>Fulltime</td>
        <% end %>

        <td><%= offer.location %></td>

        <% if offer.status == "1" %>
        <td>Accepted</td>
        <% elsif offer.status == "2" %>
        <td>Pending</td>
        <% else %>
        <td>Declined </td>
        <%end%>
        <td>
          <% like = SavedContact.where(:self_id=> current_user.id, :contact_id=> offer.user.id).first %>
                  <% if like.present?%>

                  <!-- if yes, display a closed heart and allow user to delete like -->

                  <a href= "/delete_saved_contact/<%= like.id %>" class="btn btn-link">
                    <i class="fa fa-heart"></i></a>

                    <!-- if not, display open heart and allow user to add like -->

                    <%else%>
                    <form action="/create_saved_contact" method="post">
                      <!-- Hidden input for authenticity token to protect from forgery -->
                      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                      <!-- Label and input for self_id -->
                      <input type="hidden" id="self_id" name="self_id" value="<%= current_user.id %>">

                      <!-- Label and input for contact_id -->
                      <input type="hidden" id="contact_id" name="contact_id" value="<%= offer.user.id %>">


                      <button class="btn btn-link">
                        <i class="fa fa-heart-o"></i>
                      </button>
                    </form>

                    <%end%>
         </td>




        <td>
          <% if offer.user_id == current_user.id %>
          <a href="/offers/<%= offer.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_offer/<%= offer.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <%else%>
          <%end%>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
