<div class="page-header">
  <h1>
    Summer Internships
    <a href="/offers/new" class="btn btn-lg btn-success">New Offer</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Company</th>
        <th>Position</th>
        <th>Location</th>
        <th>Status</th>
        <th>Save Contact</th>
        <th>Actions</th>
      </tr>

      <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.user.first_name%> <%= offer.user.last_name %></td>
        <td><%= offer.company %></td>
        <td><%= offer.position %></td>

        <td><%= offer.location %></td>

        <% if offer.status == "1" %>
        <td>Accepted</td>
        <% elsif offer.status == "2" %>
        <td>Pending</td>
        <% else %>
        <td>Declined </td>
        <%end%>

        <td>
          <% like = SavedContact.where(:self_id=> current_user.id, :contact_id=> offer.user.id).first %>
                  <% if like.present?%>

                  <!-- if yes, display a closed heart and allow user to delete like -->

                  <a href= "/delete_saved_contact/<%= like.id %>" class="btn btn-link">
                    <i class="fa fa-heart"></i></a>

                    <!-- if not, display open heart and allow user to add like -->

                    <%else%>
                    <form action="/create_saved_contact" method="post">
                      <!-- Hidden input for authenticity token to protect from forgery -->
                      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                      <!-- Label and input for self_id -->
                      <input type="hidden" id="self_id" name="self_id" value="<%= current_user.id %>">

                      <!-- Label and input for contact_id -->
                      <input type="hidden" id="contact_id" name="contact_id" value="<%= offer.user.id %>">


                      <button class="btn btn-link">
                        <i class="fa fa-heart-o"></i>
                      </button>
                    </form>

                    <%end%>
         </td>


        <td>
          <%if offer.user_id == current_user.id%>
          <a href="/offers/<%= offer.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_offer/<%= offer.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <%else%>
          <%end%>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
