<div class="page-header">
  <h3>Saved Job #<%= @saved_job.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Company</dt>
      <dd><%= @saved_job.job.company %></dd>

      <dt>Position</dt>
      <dd><%= @saved_job.job.position %></dd>

      <dt>Location</dt>
      <dd><%= @saved_job.job.location %></dd>

      <dt>Job description</dt>
      <dd><%= @saved_job.job.job_description %></dd>

      <dt>Job requirements</dt>
      <dd><%= @saved_job.job.job_requirements %></dd>

      <dt>Job link</dt>
      <dd><%= @saved_job.job.job_link %></dd>

      <dt>Contact name</dt>
      <dd><%= @saved_job.job.contact_name %></dd>

      <dt>Contact email</dt>
      <dd><%= @saved_job.job.contact_email %></dd>

      <dt>Contact phone</dt>
      <dd><%= @saved_job.job.contact_phone %></dd>

      <dt>Deadline</dt>
      <dd><%= @saved_job.job.deadline %></dd>

    </dl>

  </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/saved_jobs" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @saved_job.user %>
        <a href="/saved_jobs/<%= @saved_job.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_saved_job/<%= @saved_job.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
