<!-- Validation failure messages -->
<% if @saved_event.errors.any? %>
  <% @saved_event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Saved Event #<%= @saved_event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_saved_event/<%= @saved_event.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :title, @saved_event.event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @saved_event.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Saved Event
      </button>
      or
      <a href="/saved_events/<%= @saved_event.id %>">Cancel</a>
    </form>
  </div>
</div>
