<div class="page-header">
  <h1>
    Saved events
    <a href="/saved_events/new" class="btn btn-lg btn-success">New Saved event</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date time</th>
        <th>Location</th>
        <th>Audience</th>
        <th>Actions</th>
      </tr>

      <% @saved_events.each do |saved_event| %>
      <tr>
        <td>
          <% if saved_event.event.present? %>
            <a href="/events/<%= saved_event.event.id %>">
              <%= saved_event.event.title %>
            </a>

        </td>
        <td><%= saved_event.event.description %></td>
        <td><%= saved_event.event.date_time %></td>
        <td><%= saved_event.event.location %></td>
        <td><%= saved_event.event.audience %></td>
        <%end%>


        <td>
          <div class="btn-group btn-group-xs pull-right">
          <a href="/events/<%= saved_event.event.id %>" class="btn btn-primary">
          <i class="fa fa-search-plus"></i></a>

          <% if current_user == saved_event.user %>
            
            <a href="/delete_saved_event/<%= saved_event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i></a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @saved_events, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
