<div class="page-header">
  <h3>Saved Event #<%= @saved_event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Event</dt>
      <dd>
        <% if @saved_event.event.present? %>
          <a href="/events/<%= @saved_event.event_id %>">
            <%= @saved_event.event.title %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @saved_event.user.present? %>
          <a href="/users/<%= @saved_event.user_id %>">
            <%= @saved_event.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/saved_events" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @saved_event.user %>
        <a href="/saved_events/<%= @saved_event.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_saved_event/<%= @saved_event.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
