<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MMM Jobs</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 60px;
    }
</style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">MMM Jobs</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/users">Users</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/jobs">Job Board</a></li>
          <li><a href="/internship_accepts">Internships</a></li>
          <li><a href="/fulltime_accepts">FT Positions </a></li>
          <li><a href="/offers">All Offers</a></li>
        </ul>

        <% if current_user.present? %>
        <div class="dropdown">
          <button class="dropbtn">My Things</button>
          <div class="dropdown-content">
            <a href="/users/<%=current_user.id%>">My Profile</a>
            <a href="/saved_contacts">My Contacts</a>
            <a href="/saved_events">My Events</a>
            <a href="/saved_jobs">My Jobs</a>
            <a href="/users/edit">Edit Profile</a>
          </div>
        </div>


        <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/users/sign_out" data-method="delete" rel="nofollow">
                Sign Out <%=current_user.first_name%> <%= current_user.last_name%>
              </a>
            </li>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/users/sign_up">
                Sign Up
              </a>
            </li>

            <li>
              <a href="/users/sign_in">
                Sign In
              </a>
            </li>
            <%end%>
        </ul></ul>

      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
